.header-main {
  display: flex;
  position: sticky;
  min-height: 5vh;
  width: 100%;
  border-top: 3px solid hsl(27, 90%, 55%);
  margin: 0 auto;
  z-index: 10;
}
.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(247, 247, 247);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.header-left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 5px;
  padding-right: 10px;
}

.header-left-container img {
  width: 145px;
  height: auto;
}

/* 호버부분 */
.HomeLogo {
  width: 150px;
  padding: 0%;
  /* object-fit: contain; */
  cursor: pointer;
}
.HomeLogo:hover {
  background-color: #ddd;
  height: 30px;
}

.header-left-container > h3 {
  font-size: 13px;
  /* �고듃 �뉕린 */
  font-weight: 400;
  margin-left: 10px;
  padding: 0px 2px;
  cursor: pointer;
}
.header-left-container > h3:hover {
  background-color: #ddd;
  border-radius: 40px;
}

.header-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-search-container {
  display: flex;
  border-radius: 5px;
  border: 1px solid rgb(199, 199, 199);
  background-color: rgb(255, 255, 255);
  height: 30px;
  /* min-width: 30%; */
  flex-direction: row;
  padding: 2px;
  margin-right: 5px;
  width: 74vh;
}

.header-search-container > input {
  /* width: 680px; */
  max-width: 100%;
  border: none;
  outline: none;
  margin: 0px 2px;
  padding: 2px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.header-search-container > svg {
  color: rgb(143, 142, 142);
  margin-top: 4px;
}

.header-right {
  display: flex;
}

.header-right-container {
  display: flex;
  align-items: center;
}

.header-right-container > svg {
  color: rgb(75, 75, 75);
  padding: 3px 5px;
  margin: 0px 3px;
  cursor: pointer;
}

.header-right-container > svg:hover {
  background-color: #ddd;
  color: black;
}

.header-right-container-button > a {
  margin: 5px;
  font-size: 13px;
  border: 1px solid hsl(205, 41%, 63%);
  background-color: hsl(205, 46%, 92%);
  color: #39739d;
  padding: 8px 10px 8px;
  border-radius: 4px;
  font-weight: 400;
}

.header-right-container-buttons {
  display: inline;
  margin: 2px;
  font-size: 13px;
  border: 1px solid hsl(205, 41%, 63%);
  background-color: #0a95f0;
  padding: 8px 10px 8px;
  border-radius: 4px;
  font-weight: 400;
}
.header-right-container-buttons > a {
  color: #fff;
}

/* 미디어쿼리 -반응형*/
/* 스크린이 최대 너비가 640px이하라면 middle창 사라짐 */
@media screen and (max-width: 640px) {
  .header-middle {
    display: none;
  }
}

/* @media screen and (min-width: 640px) {
  .header-middle {
    display: none;
  }
} */

@media screen and (max-width: 768px) {
  .header-main {
    flex: 0.55;
  }
}
