.signupsidebar-container {
  flex-direction: row;
  justify-content: center;
  margin-right: 40px;
}

.signupleft {
  align-items: center;
  margin-bottom: 24px;
  font-size: 15px;
}

.signup-icon {
  margin-right: 5px;
  align-items: center;
  font-size: 15px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 24px;
}

.signup-item {
  margin-bottom: 5px;
  margin-left: 4px;
}

.signup-word {
  font-size: 13px;
}
.signup-word > div {
  margin-bottom: 5px;
}
.signup-word > a {
  color: hsl(206, 100%, 40%);
}
